root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{ts,tsx,json,sh}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.md]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab
indent_size = 4

[*.py]
indent_size = 4
indent_style = space

[*.{cpp, cxx}]
indent_size = 2
indent_style = space

[{Dockerfile,Makefile}]
indent_style = space
indent_size = 2

[*.{groovy, jave}]
indent_style = space
indent_size = 2
